{% extends "application.html.twig" %}

{% block body %}
<h1>Главная</h1>
<p>Данное приложение представляет собой простую реализацию RESTAPI</p>
<p>На сайте существует две вкладки с ресурсами для <a href="/products">"Продуктов"</a> и <a href="/orders">"Заказов"</a></p>
<p>Без созданных продуктов заказ создать не получится, будет непременно вызвано исключения возвращена ошибка 400</p>
{% endblock %}